**/.idea
**/.vscode
**/cmake-build-debug
**/CMakeFiles/
**/*cmake
**/CMakeCache.txt
**/Makefile
**/test.txt

*.exe
**/.gitkeep
**/.editorconfig

**/*.aux
**/*.log
**/*.out

**/*.tmp

**/*.a
project/enhance
project/convert.sh
project/sample_images/
paper/paper.bbl
paper/paper.blg
paper/graphics/testbild_2.png
paper/graphics/testbild_3.png
paper/graphics/Testbild_1/orig_testbild_1.png
paper/graphics/Testbild_1/orig_testbild_1.ppm
paper/graphics/Testbild_2/orig_testbild_2.ppm
paper/graphics/Testbild_3/orig_testbild_3.png
paper/graphics/Testbild_3/orig_testbild_3.ppm
paper/graphics/Testbild_2/orig_testbild_2.png
